<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>COVID Information</title>
</head>
<body>
    <table width="1000" style="text-align: center" align="center" cellpadding="2" class="table">
        <thead>
        <tr><th colspan="7" style="size: 50px">COVID INFORMATION</th> </tr>

        <form action="/search/" method="POST">
            {% csrf_token %}
        <tr><th colspan="4"><input type="text" name="t1"><button type="submit">Search</button>
        </form>

        <form action="/index/" method="POST">
            {% csrf_token %}
            <th colspan="3" align="left"><button type="submit">All Country</button></th></form></tr>
        </form>

        <tr>
            <th>ID</th>
            <th>Country</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Deaths</th>
            <th>Recovered</th>
            <th>Map</th>
        </tr>

        </thead>

        <tbody>
        {% if out %}
        <tr>
            <td>{{ out.id }}</td>
            <td>{{ out.country }}</td>
            <td>{{ out.confirmed }}</td>
            <td>{{ out.active }}</td>
            <td>{{ out.deaths }}</td>
            <td>{{ out.recovered }}</td>
            <td><a href="http://www.google.com/maps/place/{{ out.latitude }},{{ out.longitude }}">Click</a></td>
        </tr>
        {% else %}
        <tr>
            <th>NA</th>
            <th>World</th>
            <th>{{ data.188}}</th>
            <th>{{ data.191}}</th>
            <th>{{ data.190}}</th>
            <th>{{ data.189}}</th>
            <th>NA</th>
        </tr>
        {% for x in data %}

        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.country }}</td>
            <td>{{ x.confirmed }}</td>
            <td>{{ x.active }}</td>
            <td>{{ x.deaths }}</td>
            <td>{{ x.recovered }}</td>
            <td><a href="http://www.google.com/maps/place/{{ x.latitude }},{{ x.longitude }}">Click</a></td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>